body {
  min-height: 100%;
  background-color: #30353A;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, sans-serif;
}

body > nav > div > div > a {
  color: #222;
}

body > nav {
  transition-duration: 0.4s;
  color: #f8f9fa;
}

.navbar-inverse .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar.navbar-inverse.navbar-toggleable-md.navbar-bg-inverse.fixed-top > .navbar-brand {
  font-size: 2em;
  color: #fff;
  transition-duration: 0.4s;
}

#lks {
  color: #f8f9fa;
}

#navbarCollapse > ul > li.nav-item > a {
  color: #222;
  font-size: 1.1rem;
  transition-duration: 0.2s;
}

#navbarCollapse > ul > li.nav-item > a:hover {
  font-weight: bold;
}

#about {
  padding: 8% 8% 8% 8%;
  background-color: #222;
  color: #f8f9fa;
}

#about > .container-fluid > .row > .col-md-8 > p {
  font-size: 1.15em;
}

#about > .container-fluid > .row > .col-md-11 > .row > .col-md-4 > img {
  border-radius: 50%;
}

#symbolic-execution {
  padding: 8% 8% 8% 8%;
  background-color: #f8f9fa;
  color: #222;
}

<<<<<<< HEAD
#treeD {
  width: 5%;
}
/* #symbolic-execution > .container-fluid > .flex-row > .p-1 {
  flex: 1
}

#symbolic-execution > .container-fluid > .flex-row > .card {
  margin: 1rem;
}

#symbolic-execution > .container-fluid > .flex-row > .d-flex > .card-block > .d-flex > .p-1 {
  flex: 1;
}

#symbolic-execution > .container-fluid > .flex-row > .d-flex > .card-block > .d-flex > .p-2 {
  flex: 2;
  padding: 0.25rem 0.25rem!important;
}

#symbolic-execution > .container-fluid > .flex-row > .p-2 {
  flex: 2
}

#symbolic-execution > .container-fluid > .flex-row > .p-1 > img {
  width: 100%;
  padding-top: 1em
}

#symbolic-execution > .container-fluid > .flex-row > .p-1 > .card-block > .card-text {
  margin: 0;
} */

#resumable {
  padding: 8% 8% 8% 8%;
  background-color: #222;
  color: #f8f9fa;
}

#links {
  padding: 8% 8% 8% 8%;
  background-color: #222;
  color: #f8f9fa;
}

#pseudo {
  padding: 8% 8% 8% 8%;
  background-color: #f8f9fa;
  color: #222;
}

#contact {
  background-color: #f8f9fa;
}

@media screen and (max-width: 780px) {
  .carousel-inner {
    display: none;
  }
}

.navbar-inner {
  background: transparent;
}

.spacer-white {
  margin: 1% 0 1% 0;
  width: 100px;
  height: 3px;
  background-color: #f8f9fa;
}

.spacer-black {
  margin: 1% 0 1% 0;
  width: 100px;
  height: 3px;
  background-color: #222;
}

#header {
  padding-top: 25vh;
  height: 100vh;
  width: 100wh;
}

#header > .container-fluid > .terminal-window {
  text-align: left;
  width: inherit;
  height: 860px;
  border-radius: 10px;
  margin: auto;
  position: relative;
}

#header > .container-fluid > .terminal-window header {
  background: #91a4c2;
  height: 30px;
  border-radius: 8px 8px 0 0;
  padding-left: 10px;
}

#header > .container-fluid > .terminal-window section.terminal {
  color: #fff;
  font-family: Menlo, Monaco, "Consolas", "Courier New", "Courier";
  font-size: 5vw;
  padding: 10px;
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  top: 30px;
  bottom: 0;
  overflow: auto;
}

#header > .container-fluid > .terminal-window section.terminal .typed-cursor {
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.terminal-data {
  display: none;
}

.terminal-window .gray {
  color: #808080;
}

.code-window {
    direction: ltr;
}

.code-colour.code-window .lineno {
    float: left;
}

.code-colour pre {
    tab-size: 4;
}

pre, .code {
    color: #8c8383;
    background-color: #f8f9fa;
    border: 1px solid #eaecf0;
    padding: 1em;
    white-space: pre-wrap;
    line-height: 1.3em;
}

pre, code, tt, kbd, samp, .code {
    font-family: monospace,monospace;
}

pre, xmp, plaintext, listing {
    display: block;
    font-family: monospace;
    white-space: pre;
    margin: 1.0em 0px;
}

.code-window {
    direction: ltr;
}

.code-colour .type {
    color: #f761a4;
}

.code-colour .name {
    color: #3c12d6;
}

.code-colour .syntax {
    color: #747277;
    font-weight: bold;
}

.code-colour .equals {
    color: #747277;
}

.code-colour .variable {
    color: #1e9cd0;
}

.code-colour .str {
    color: #118c4a;
}
